
img {
    width: 100%;
    border-radius: 10px;

}

.cityForm {
    position: relative;
    color: white;
}

.cityName {
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.cityName a {
    text-decoration: none;
    color: white;
}

.cityName a:hover {
    color: rgb(202, 222, 247);

}


.citySubText {
    position: absolute;
    left: 10%;
    bottom: 10%;
}